:root{
    --header: #ececec00;
    --header-color: #f1f1f1;
    
    --header-on: rgb(255, 255, 255);
    --header-color-on: #333333;

    --h1-color: #347bd8;
    --h1-color-select:#102b83;

    --primary-color: #347bd8;
    --primary-color-select: #104285;

    --background: #ffffff;

    --button-dark: #124992;
 /*   --background: #202124; */


    --shadow-color: 0deg 100% 15%;
    --shadow-m:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

@media (max-width:780px) {
    :root {

        --header: #347bd8;
        --header-color: #333333;

        --header-on: rgb(255, 255, 255);
        --header-color-on: #000000;
    }
}