body {
    --header: #347bd8;
    --header-color: #f1f1f1;
    
    --header-on: #dbeafd;
    --header-color-on: #333333;

    --h1-color: #347bd8;
    --h1-color-select:#102b83;

    --primary-color: #347bd8;
    --primary-color-select: #104285;

    --second-color: #7d4e9c;
    --second-color-select: #9e57ce;

    --publish:#707070;
    --category: #124992;
    --ventana:#317cdf71;

    --background: #dbeafd;
    --text: #333333;
    --wave: url(../promp/wave.svg);

    --dark-btn: url(../promp/sun.521d76c1.svg);
    --window: url(../promp/window.svg);
    --window-hover: url(../promp/windowd.svg);

    --button-dark: #124992;
    --footer: #124992;

    --bg-movil: #dbeafd;
}

body.dark-theme {
    --header: #347bd8;
    --header-color: #f1f1f1;
    
    --header-on: #07090e;
    --header-color-on: #d3d3d3;

    --h1-color: #a1841c;
    --h1-color-select:#e3b617;

    --primary-color: #a1841c;
    --primary-color-select: #e3b617;

    --second-color: #7d4e9c;
    --second-color-select: #9e57ce;

    --publish:#504949;
    --category: #afafaf;
    --ventana:#0f11146e;

    /**--background: #202124;*/
    --background: #07090e;
    --text: #afafaf;
    --wave: url(../promp/wavedark.svg);

    --dark-btn: url(../promp/moon.9b54569f.svg);
    --window: url(../promp/windowd.svg);
    --window-hover: url(../promp/window.svg);

    --button-dark: #745f12;
    --footer: #124992;

    --bg-movil: #07090e;
}

@media (prefers-color-scheme: dark) {
    body {
        --header: #347bd8;
        --header-color: #f1f1f1;
        
        --header-on: #07090e;
        --header-color-on: #d3d3d3;
    
        --h1-color: #a1841c;
        --h1-color-select:#e3b617;
    
        --primary-color: #a1841c;
        --primary-color-select: #e3b617;
    
        --second-color: #7d4e9c;
        --second-color-select: #9e57ce;
    
        --publish:#504949;
    
        /**--background: #202124;*/
        --background: #07090e;
        --text: #afafaf;
        --wave: url(../promp/wavedark.svg);
    
        --dark-btn: url(../promp/moon.9b54569f.svg);
        --window: url(../promp/windowd.svg);
        --window-hover: url(../promp/window.svg);
    
        --button-dark: #745f12;
        --footer: #124992;
    
        --bg-movil: #212224e3;
    }
    body.light-theme {
        --header: #347bd8;
        --header-color: #f1f1f1;
        
        --header-on: #dbeafd;
        --header-color-on: #333333;
    
        --h1-color: #347bd8;
        --h1-color-select:#102b83;
    
        --primary-color: #347bd8;
        --primary-color-select: #104285;
    
        --second-color: #7d4e9c;
        --second-color-select: #9e57ce;
    
        --publish:#707070;
    
        --background: #dbeafd;
        --text: #333333;
        --wave: url(../promp/wave.svg);
    
        --dark-btn: url(../promp/sun.521d76c1.svg);
        --window: url(../promp/window.svg);
        --window-hover: url(../promp/windowd.svg);
    
        --button-dark: #124992;
        --footer: #124992;
    
        --bg-movil: hwb(0 100% 0% / 0.733);
    }
}