.content-base {
    width: 100%;
    height: 100%;

    background-color: var(--background);
}

.hero-bg {
    background: var(--primary-color);
    background-image: var(--wave);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero {
    width: 100%;
    max-width: 1080px;

    margin-left: auto;
    margin-right: auto;
    height: 40vh;

    /*background-image: url(../test.png);
    background-size: cover;
    background-position: center center;

    background-repeat: no-repeat;*/

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    display: flex;

    padding: 20px;
    gap: 20px;
}

.block-1 {
    width: 100%;
    max-width: 1090px;

    margin-left: auto;
    margin-right: auto;
    height: auto;

    display: grid;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;

    gap: 20px;
    flex-direction: column;
    padding: 20px 0;
}

.entrada-grid {
    width: 100%;
    height: auto;

    gap: 15px;
    display: grid;
}

@media (max-width:780px) {
    .block-1 {
        display: flex;
    }
}

.publish {
    font-family: "Fredoka", sans-serif;
    font-size: 25px;

    color: var(--publish);
    padding: 15px 18px;
}

.sesion-border {
    border: 3px solid var(--background);
    transition: 0.2s ease-out;
    border-radius: 20px;
}

.sesion-content {
    font-family: "Fredoka", sans-serif;

    width: 100%;
    height: auto;

    padding: 10px 15px;

    display: flex;
    flex-direction: column;
    gap: 0px;

    transition: 0.2s ease-out;
}

.sesion-title {
    font-size: 25px;
    color: var(--h1-color);
    transition: 0.2s ease-out;
}

.sesion-subtitle {
    font-size: 14px;
    color: var(--publish);
    transition: 0.2s ease-out;
    margin-bottom: 10px;
}

.sesion-info {
    font-size: 14px;
    color: var(--text);
}

.sesion-button {
    font-family: "Fredoka", sans-serif;

    width: 100%;
    height: 42px;

    padding: 0 18px;

    display: flex;
    gap: 10px;
}

.sesion-border:active {
    border: 3px solid var(--primary-color);
}

.sesion-content:hover .sesion-title {
    color: var(--primary-color-select);
}

.visitar-button {
    width: fit-content;
    height: 42px;


    border-radius: 30px;

    color: var(--primary-color);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-out;
}

.visitar-button:hover {
    color: var(--primary-color-select);
}

.icon-ventana {
    width: 42px;
    height: 42px;

    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-window {
    fill: var(--primary-color);
    transition: 0.2s ease-out;
}

.icon-ventana:hover .svg-window{
    fill: var(--primary-color-select);
}


.block-2 {
    width: 100%;
    max-width: 1090px;

    margin-left: auto;
    margin-right: auto;
    height: 500px;

    display: block;

    gap: 20px;
    padding: 20px 0;

    background-color: var(--primary-color);
}