nav {
    width: 100%;
    height: 70px;

    position: fixed;

    background-color: var(--primary-color);
    
    font-family: "Fredoka", sans-serif;

    user-select: none;
    z-index: 3;
    transition: 0.2s ease-out;
}

.header-scroll { /* Esto cambia de color cuando deslizamos hacia abajo */
    background-color: var(--header-on);
}


.nav-max{
    width: 100%;
    height: 70px;

    max-width: 1090px;

    margin-left: auto;
    margin-right: auto;

    justify-content: space-between;
    display: flex;
}

.menu-mobile {
    display: none;
}/*Vista movil desactivado*/

.logo{
    width: 100px;
    height: 70px;

    display: flex;

    padding: 4px 0 0 15px ;
}

.logo-title{
    width: fit-content;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--header-color);
    
    font-family: 'Josefin Sans', sans-serif;

    font-size: 24px;
}

.sample-text {
    font-size: 16px;
    font-family: "Fredoka", sans-serif;

}/*Beta*/

.menu-desk{
    width: 340px;
    height: 70px;

    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: row;

    gap: 25px;
}

.desk-link {
    text-decoration: none;
    color:var(--header-color);

    transition: 0.2s ease-out;
}

.desk-link:hover{
    color:var(--primary-color-select);
}

.resolt {
    color: var(--header-color-on);
}/* color en scroll*/

.visible-btn {
    display: none;
}

.pil-desk {
    display: flex;

    width: 60px;
    height: 70px;

    align-items: center;
    justify-content: center;
}

.pildora-reactora-nuclear-destructiva {
    background-color: var(--button-dark);

    width: 50px;
    height: 30px;

    border-radius: 30px;

    display: flex;
    flex-direction: row;
}

.desk-dark {
    width: 30px;
    height: 30px;

    border-radius: 30px;
}

.desk-dark {
    background: var(--primary-color);
    border: 2px solid var(--button-dark);

    background-image: var(--dark-btn);
    background-size: 15px 15px;

    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s ease-out;
}

.demo {
    transform: translate(20px, 0);
}

@media (max-width:780px) {

    .pildora-reactora-nuclear-destructiva{
        display: none;
    }

    nav {
        height: 60px;
    }

    .nav-max, .logo-img {
        height: 60px;
    }

    .menu-mobile {
        display: flex;
        width: 60px;
        height: 60px;
    }

    .logo {
        width: 73px;
        height: 60px;
        padding: 4px 0 0 0 ;
    }

    .sample-text {
        display: none;
    }

    .logo-title {
        height: 60px;
    }


    .menu-desk{
        display: none;
    }

    .visible-btn {
        display: block;
        width: 60px;
        height: 60px;
    }

    .button {
        width: 100%;
        height: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    
    }
}

.bar-1, .bar-2 {
    width: 20px;
    height: 2px;

    border-radius: 20px;

    background-color: var(--header-color);
    transition: 200ms ease-out;
    transform: scale(1);
}

.btn-resolt {
    background-color: var(--header-color-on);
}

.bar1-on {
    position: fixed;
    transform: rotate(-46deg);
}

.bar2-on {
    position: fixed;
    transform: rotate(44deg);
}

/* Estos activan y empiezan a girar en forma de x */

.menu-wave {
    display: none;
}

@media (max-width:780px) {
    .menu-wave {
        width: 100%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
    
        position: fixed;
    
        background-color: var(--primary-color);
    
        opacity: 0;
        transition: 0.25s cubic-bezier(1, 0.04, 0.36, 1);
    
        z-index: 2;
        backdrop-filter: blur(3px);
        pointer-events: none;
    }

    .menu-wave-on {
        opacity: 1;
        pointer-events: all;
    }

    .bg-resolt {
        background-color: var(--bg-movil);
    }

    .menu-grid {
        width: 100%;
        height: 400px;
    
        padding: 80px 30px 30px 30px;
    
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .menu-grid-link {
        color: var(--header-color);
        font-family: "Fredoka", sans-serif;
    
        width: 100%;
        height: 65px;
    
        font-size: 35px;
    
        display: flex;
        align-items: center;
        justify-content:flex-start;
    
        transition: 0.2s ease-out;

        opacity: 0;
        text-decoration: none;
    }

    .resolt {
        color: var(--header-color-on);
    }

    .menu-grid-smooth {
        animation: Smooth-menu-ed 0.723s forwards;
    }
    
    @keyframes Smooth-menu-ed {
        0% {
            opacity: 0;
            transform: translateX(50px) scale(1);
        }
    
        60% {
            opacity: 0;
            transform: translateX(50px) scale(1);
        }
    
        100% {
            opacity: 1;
            transform:scale(1);
        }
    }
}

.pilpil{
    width: 100%;
    height: 50px;

    display: flex;
}

.dark-mb{
    width: 50px;
    height: 50px;

    border-radius: 50px;

    background: var(--primary-color-select);
    background-image: var(--dark-btn);
    background-size: 30px;
    background-position: center;

    background-repeat: no-repeat;
}
