@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@502&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@502&family=Protest+Riot&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');

/*
.fredoka-<uniquifier> {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 502;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/

* {
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
}

*,::after, ::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    line-height: 1.5;
}

body {
    background: var(--background);
}

input, button, textarea, select {
    font: inherit;
}

button {
    border: none;
}

a {
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {

}

@media (max-width:780px) {
    .menu-block {
        overflow: hidden;
    }
}
